/* Collection name: Primitives */
/* Mode: Mode 1 */
:root {
    --color-menta950: #082a2b;
    --color-menta900: #0c3f40;
    --color-menta800: #156a6b;
    --color-menta700: #1d9496;
    --color-menta600: #21a9ab;
    --color-menta500: #29d3d6;
    --color-menta400: #3fd8da;
    --color-menta300: #69e0e2;
    --color-menta200: #94e9ea;
    --color-menta100: #bff2f3;
    --color-menta50: #eafbfb;
    --color-limon950: #2f2d04;
    --color-limon900: #464406;
    --color-limon800: #75710a;
    --color-limon700: #a49e0e;
    --color-limon600: #d3cb12;
    --color-limon500: #ebe216;
    --color-limon400: #ede52c;
    --color-limon300: #f1eb5b;
    --color-limon200: #f5f08a;
    --color-limon100: #f9f6b9;
    --color-limon50: #fdfce8;
    --color-lavanda950: #1a1122;
    --color-lavanda900: #281a33;
    --color-lavanda800: #422b55;
    --color-lavanda700: #5c3c76;
    --color-lavanda600: #774d98;
    --color-lavanda500: #8456a9;
    --color-lavanda400: #9067b2;
    --color-lavanda300: #a989c3;
    --color-lavanda200: #c2abd4;
    --color-lavanda100: #dacce5;
    --color-lavanda50: #f3eef6;
    --color-brisa950: #0c1927;
    --color-brisa900: #12263b;
    --color-brisa800: #1e3f62;
    --color-brisa700: #2a5888;
    --color-brisa600: #3671b0;
    --color-brisa500: #3c7ec3;
    --color-brisa400: #508bc9;
    --color-brisa300: #77a5d5;
    --color-brisa200: #9ebfe1;
    --color-brisa100: #c4d8ed;
    --color-brisa50: #ebf2f9;
    --color-gray-800: #47444b;
    --color-gray-700: #59555e;
    --color-gray-600: #726d78;
    --color-gray-500: #7f7986;
    --color-gray-400: #8b8792;
    --color-gray-300: #a5a1aa;
    --color-gray-200: #bfbcc2;
    --color-gray-100: #d8d7db;
    --color-gray-950: #19181b;
    --color-gray-900: #262428;
    --color-gray-50: #f2f2f3;
  }
  